@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
    /* Colors */
    /* Primary */
    --green-400: #5ba4a4ff;

    /* Neutral */
    --green-50: #effafaff;
    --white: #fff;
    --gray-400: #7b8e8eff;
    --green-900: #2c3a3aff;

    --font-w-500: 500;
    --font-w-700: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

/* Flex */

.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.align-i-center {
    align-items: center;
}
.just-c-center {
    justify-content: center;
}
.just-c-sb {
    justify-content: space-between;
}

/* Gaps */

.gap-05r {
    gap: 0.5rem;
}
.gap-1r {
    gap: 1rem;
}
.gap-1-5r {
    gap: 1.5rem;
}
.gap-2r {
    gap: 2rem;
}

/* Colors */

.color-green-400 {
    color: var(--green-400);
}
.color-gray-400 {
    color: var(--gray-400);
}
.color-green-900 {
    color: var(--green-900);
}
.color-w {
    color: var(--white);
}

/* Background colors */

.bg-green-400 {
    background-color: var(--green-400);
}
.bg-green-900 {
    background-color: var(--green-900);
}
.bg-green-50 {
    background-color: var(--green-50);
}
.bg-w {
    background-color: var(--white);
}

/* Typography */

.font-w-500 {
    font-weight: var(--font-w-500);
}
.font-w-700 {
    font-weight: var(--font-w-700);
}


.font-s-0-8r {
    font-size: 0.8rem;
}

/* Paddings */

.pad-new-featured {
    padding: 0.35rem 0.3rem 0.2rem 0.35rem;
}
.pad-l-05r {
    padding-left: 0.5rem;
}
.pad-05r {
    padding: 0.5rem;
}
.pad-1r {
    padding: 1rem;
}

/* Border-radius and borders  */

.bor-rad-05r {
    border-radius: 0.5rem;
}
.bor-rad-20 {
    border-radius: 20px;
}
.bor-rad-10 {
    border-radius: 10px;
}
.bor-rad-5 {
    border-radius: 5px;
}

.bor-l-5-s-green-400 {
    border-left: 5px solid var(--green-400);
}

/* Others */

.width-100 {
    width: 100%;
}
.height-100 {
    height: 100%;
}

.d-none {
    display: none;
}

.point-event-none {
    pointer-events: none;
}

.list-style-none {
    list-style: none;
}

.cursor-p {
    cursor: pointer;
}

.tr-a-03s-ea {
    transition: all 0.3s ease;
}

.box-shadow-card {
    box-shadow: 0 3px 15px -1px rgba(91, 164, 164, 0.5);
}

/* ---------- --------- */

body {
    background-color: var(--green-50);
}

main {
    width: clamp(80%, 85%, 80rem);
    margin: clamp(2rem, 5%, 5rem) auto;
}


.hide-in-des {
    display: none;
}
@media (max-width: 58rem) {
    .hide-in-des {
        display: block;
    }
    .hide-in-mob {
        display: none;
    }
    .flex-column-mob {
        flex-direction: column;
    }
    .align-i-stretch-mob {
        align-items: stretch;
    }
    .gap-2r {
        gap: 1rem;
    }
    .gap-1-5r {
        gap: 1rem;
    }
    .flex-wrap-mob {
        flex-wrap: wrap;
    }
}
